# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment files
.env

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# ngrok logs or config
ngrok-debug.log
.ngrok2/

# Build folders (optional)
dist/
build/
